<html>
  <head>
    <title>Angular Directive Demo</title>
  </head>

  <body style="margin:0;padding:0;">
    <div ng-app="demoApp" ng-controller="PdfController">
      <iframe pdf url={{pdfUrl}}></iframe>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
